// Element Plus 主题色配置
:root {
  --el-color-primary: #3669EC;
  --el-color-primary-light-3: #6B8EF0;
  --el-color-primary-light-5: #8BA9F3;
  --el-color-primary-light-7: #ABC4F6;
  --el-color-primary-light-8: #BBCFF8;
  --el-color-primary-light-9: #CBDAF9;
  --el-color-primary-dark-2: #2B54BD;
}
